<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
  <meta http-equiv="content-script-type" content="text/javascript">
  <meta http-equiv="content-style-type" content="text/css">
	<title><%=@activity.title %></title>
  
	<link href="css/bootstrap.css" rel="stylesheet"/>
   <link type="text/css" rel="stylesheet" href="css/b.css">
 
	<style type="text/css"> 
      body {
        padding-top: 60px;
        padding-bottom: 40px;
        margin: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
        background-color: #ffffff;
      }
      
      .sidebar-nav {
        padding: 9px 0;
      }
    </style> 

    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="shortcut icon" href="Pictures/favicon.ico"> 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Pictures/apple-touch-icon-144-precomposed.png"> 
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Pictures/apple-touch-icon-114-precomposed.png"> 
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Pictures/apple-touch-icon-72-precomposed.png"> 
    <link rel="apple-touch-icon-precomposed" href="Pictures/apple-touch-icon-57-precomposed.png"> 


    <script type="text/javascript">
    function cc(){
      alert("成功参加！");
    }
    </script>

</head>
<body class="whiteBg">

  <!-- Container for an overlay: --> 
  <div class="ow-overlay ow-closed"></div> 

  <!-- Container for a modal window: found activity--> 
  <div class="modal ow-closed well modal_a" id="id_foundactivity_container">
    <button type="button" class="btn-mini pull-right close_a-button"><i class="icon-remove"></i></button>
    <h3>&nbsp;&nbsp;发布活动</h3>
    <ul></ul>
    <ul>
      <li>活动名称<input type="text" class="input-xlarge" placeholder="6-20个汉字" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      <li>活动时间<input type="text" id="date-input" class="input-xlarge" placeholder="请选择活动开始时间" style="position:relative;left:30px;"/><a style="position:relative;left:60px;">*</a></li>
      <li>活动类型<input type="text" class="input-xlarge" placeholder="6-20个汉字" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      <li>活动地点<input type="text" class="input-xlarge" placeholder="请输入活动地点" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      <li>活动人数<input type="text" class="input-xlarge" placeholder="请输入活动人数" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      <li>邀请人员<input type="text" class="input-xlarge" placeholder="请邀请人员参与活动" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      <p></p>
      <li>活动描述<textarea class="span5" name="textArea1" id="textArea1" cols="30" rows="2" placeholder="请对活动进行适当描述" style="position:relative;left:30px;"></textarea><a style="position:relative;left:60px;">*</a></li>
      <p></p>
      <li>备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注<textarea class="span5" name="textArea1" id="textArea1" cols="30" rows="2" placeholder="请适当的添加备注" style="position:relative;left:30px;"></textarea></li>
      <p></p>
      <p><button type="submit" class="btn-large close_c-button" style="position:relative;left:260px;">提交</button></p>
    </ul>
    </div>

<!-- Container for a modal window: leju guess--> 
    <div class="modal_b ow-closed well modal" id="id_lejuguess_container">
    <button type="button" class="btn-mini pull-right close_b-button"><i class="icon-remove"></i></button>
    <h3>&nbsp;&nbsp;活动推荐</h3>
    <ul></ul>
    <ul>
      </br></br></br></br>
      <li>活动主题<input type="text" class="input-xlarge" placeholder="6-20个汉字" style="position:relative;left:30px;"><a style="position:relative;left:60px;">*</a></li>
      </br></br></br></br>
      <li>活动时间<input type="text" id="demo2" class="input-xlarge" placeholder="请选择活动开始时间" style="position:relative;left:30px;"/><a style="position:relative;left:60px;">*</a></li>
      </br></br></br></br>
      <p><button type="submit" class="btn-large close_d-button" style="position:relative;left:260px;">活动推荐</button></p>
    </ul>
    </div>


<!-- fixed top bar--> 
    <div class="navbar navbar-fixed-top" id="id_topbar">
      <div class="navbar-inner"> 
        <div class="container-fluid">     
          <a class="brand" href="map.html" title="首页"> 乐 聚</a>  
          <div class="nav-collapse"> 
            <ul class="nav nav-pills">
              
              <li><a href="map.html">地  图</a>           
              </li>
              <li class="active"><a href="activity_home.htm">活  动</a></li>
              <li><a href="personalpage.html">个人主页</a></li>
              <li><a href="friends.html">好  友</a></li>
            </ul>

            <ul class="nav nav-pills pull-right">
            <li class="guess-button"><a href="#"><i class="icon-upload icon-white"></i> 活动推荐</a></li> 
            <li><a href="account_setting.html"><i class="icon-cog icon-white"></i> 设置</a></li>
            <li><a href="#"><i class="icon-off icon-white"></i> 退出</a></li>
                  

            </ul>           

            <form class="nav pull-right form-search input-append">
                <input type="text" id="search1" class="input-medium search-query input-append" placeholder="搜人/新动态"><button type="submit" id="search-submit1" class="btn"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills pull-right"> 
              <li class="dropdown" id="menu1">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#menu4">
              <img src="Pictures/pic1.png"  title="通知和提醒">
              <b class="caret"></b>
              </a>
                <ul class="dropdown-menu">
                  <li><a href="#" id="remind1">提醒1</a></li>
                  <li><a href="#" id="remind2">提醒2</a></li>
                  <li class="divider"></li>
                  <li><a href="#" id="notice1">通知1</a></li>
                  <li><a href="#" id="notice2">通知2</a></li>
                </ul>
              </li>  
            </ul>
          </div>
        </div> 
      </div> 
    </div><!-- end fixed top bar--> 


    <!-- 这个地方就是伸缩框的部分 相关js放在了chatwindow.js的最上面，很短，其实就是直接用了jquery， $('#opciones').slideToggle(); 用这一句控制了伸缩--> 
      <DIV id=settings>Settings</DIV>
      <DIV id=opciones style="overflow:scroll;overflow-x:hidden;">

          <div class="tabbable">
          <!-- Only required for left/right tabs -->
            <div style="position:fixed;right:35px;bottom:370px;background:#000000;height:40px;width:280px;padding-top:10px;z-index:9000;">
            <ul class="nav nav-pills">
              <li><form class="nav form-search input-append">    
                  <input type="text" id="search2" class="input-mini search-query input-append" placeholder="搜人/新动态"><button type="submit" id="search-submit2" class="btn"><i class="icon-search"></i></button>
                  </form>
              </li>
              <li class="active" style="position:relative;left:10px"><a href="#tab1" data-toggle="tab" style="font-size:12px">我创建的</a>
              </li>
              <li style="position:relative;left:10px"><a href="#tab2" data-toggle="tab" style="font-size:12px">我参加的</a></li>     
            </ul>
            </div>
            <div class="tab-content" style="padding-top:50px;position:fiexed;">
              <div class="tab-pane active" id="tab1">
                <table>
                  <tr><td><img id="item2-pic" src="Pictures/资环学院.jpg">
                    <a href="#" id="item2-name" style="color:#ff7500;position:relative;bottom:14px;">&nbsp;资源与环境学院</a> 
                  </td></tr>
                  <tr><td>
                      <p id="item2-title">活动名称：植树在行动！</p>
                    </td></tr>
                    <tr><td><p id="item2-description">活动描述：植树在行动，需要您的参与！本次树苗不多，想要参加的同学尽快了！</p></td></tr>
                    <tr><td>
                      <p id="item2-where">活动地点:植物园</p>
                    </td></tr>
                    <tr><td>
                      <p id="item2-when">活动时间：2012年9月20日</p>
                    </td></tr>
                    <tr><td>
                      <p id="item2-no">活动人数：80-120</p>
                    </td></tr>
                  <tr><td><p id="item2-time">n天前</p>
                    <button class="btn btn-mini pull-right" type="button" onclick="ChatShow();" id="item2-details" ><i class="icon-zoom-in"></i>查看详情</button>
                    
                  </td></tr>
                </table>
              </div>
              <div class="tab-pane" id="tab2">
                <table>
                  <tr><td><img id="item1-pic" src="Pictures/艺术学院.jpg"><a href="#" id="item1-name" style="color:#ff7500;position:relative;bottom:14px;">&nbsp;艺术与设计学院</a> </td>
                    <tr><td>
                    <p id="item1-title">活动名称：艺术节比赛报名！</p>
                  </td></tr>
                  <tr><td>
                    <p id="item1-description">活动描述：第九届校园艺术节将于9月20日盛大开幕，本次艺术节包括了绘画比赛，海报设计大赛，K歌大赛等项目，快来报名参加吧！</p>
                  </td></tr>
                  <tr><td>
                    <p id="item1-where">活动地点：学校</p>
                  </td></tr>
                  <tr><td>
                    <p id="item1-when">活动时间：2012年9月20日--10月20日</p>
                  </td></tr>
                  <tr><td>
                    <p id="item1-no">活动人数：不限</p>
                  </td></tr>
                  <tr><td><p id="item1-time">n天前</p>  
                    <button class="btn btn-mini pull-right" type="button" onclick="ChatShow();" id="item1-details" ><i class="icon-zoom-in"></i>查看详情</button>
                  </td></tr>
                </table>
                <table>
                  <tr><td></br><img id="item3-pic" src="Pictures/软件学院.jpg">
                    <a href="#" id="item3-name" style="color:#ff7500;position:relative;bottom:14px;">&nbsp;软件学院</a> 
                  </td></tr>
                  <tr><td>
                      <p id="item3-title">活动名称：C语言编程大赛！</p>
                    </td></tr>
                    <tr><td><p id="item3-description">活动描述：第五届C语言编程大赛火热报名啦！前10名均有奖金！</p></td></tr>
                    <tr><td>
                      <p id="item3-where">活动地点：软件学院实验室</p>
                    </td></tr>
                    <tr><td>
                      <p id="item3-when">活动时间：2012年9月25日--10月10日</p>
                    </td></tr>
                    <tr><td>
                      <p id="item3-no">活动人数：不限</p>
                    </td></tr>
                  <tr><td><p>n天前</p>  
                    <button class="btn btn-mini pull-right" type="button" onclick="ChatShow();" id="item3-details" ><i class="icon-zoom-in"></i>查看详情</button>
                  </td></tr>
                </table>
              </div>   
            </div>
          </div>  
      </DIV>

<!-- chatwindow 下面的东西是左边的聊天窗，内容也在chatwindow.js里--> 
<!-- end chatwindow-->

      <div style="position:relative;left:30px;"><h2><%=@activity.title %></h2></br></div>      
      <div class="span12">
      <ul class="nav nav-pills">
        <li class="active"><a href="activity_002_index.html">主页</a></li>
        <li><a>活动资料</a></li>
        <li><a href="#">活动相册</a></li>
        <li><a>活动日志</a></li>
      </ul>
    </div>


  <div class="pBody clearfix well">
  <div class="pLeft fl">
    <div id="pQuick" class="pQuick clearfix"><a id="pqFace" href="http://en.gravatar.com/" target="_blank" title="头像" class="pbg pqFace"><img id="myface" src="home_files/7ba062b59a726dd93c0774dce3e284ad.jpg" height="110" width="110"></a><a href="content.html" title="发布文字" class="pbg pqWord"></a><a href="content.html" title="发布图片" class="pbg pqPic"></a><a href="content.html" title="发布视频" class="pbg pqVideo"></a><a href="content.html" title="分享" class="pbg pqB"></a></div>
    <div id="pList" class="pList clearfix">
    <form class="">
          <form class="well">
              <ul class="nav">
                </br>
            </br><li>2012年8月12日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">舌尖上的昆明</a> &nbsp;&nbsp;&nbsp;上传了6张照片到&nbsp;&nbsp;&nbsp;<a href="activity_001_photos.html" style="display:inline-block">活动相册</a></li>
          </br><li>2012年8月01日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">舌尖上的昆明</a> &nbsp;&nbsp;&nbsp;留言说&nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">@小雪是吃货 @阿浩 @小西西 @小米爱杰伦 @琪琪</a>&nbsp;&nbsp;&nbsp;明天上午11点，金马碧鸡坊集合！过桥米线、铜锅洋芋饭、牛蛙火锅，一天全为吃！</li>
              </br><li>2012年8月10日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">小西西</a> &nbsp;&nbsp;&nbsp;参加了本活动</li>
            </br><li>2012年8月05日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">阿浩</a> &nbsp;&nbsp;&nbsp;参加了本活动</li>
          </br><li>2012年8月03日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">琪琪</a> &nbsp;&nbsp;&nbsp;参加了本活动</li>
          </br><li>2012年8月01日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">舌尖上的昆明</a> &nbsp;&nbsp;&nbsp;留言说&nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">@小雪是吃货</a>&nbsp;&nbsp;&nbsp;下周末吧，过桥米线、铜锅洋芋饭、牛蛙火锅，一天全为吃！</li>
          </br><li>2012年7月31日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">小雪是吃货</a> &nbsp;&nbsp;&nbsp;留言说&nbsp;&nbsp;&nbsp;第一次活动什么时候开始啊？</li>
            </br><li>2012年7月27日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">小雪是吃货</a> &nbsp;&nbsp;&nbsp;参加了本活动</li>
            </br><li>2012年7月26日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">小米爱杰伦</a> &nbsp;&nbsp;&nbsp;参加了本活动</li>
              </br><li>2012年7月20日 &nbsp;&nbsp;&nbsp;<a href="#" style="display:inline-block">舌尖上的昆明</a> &nbsp;&nbsp;&nbsp;创建了本活动</li>                 
            </form>
    </div>
    <div class="page clearfix" style="position:relative;top:50px"><span>共<b class="ftblue"></b>篇，当前 <b class="ftblue"></b>页 </span><a href="#" class="pbg">下一页</a><a href="javascript:;" class="pbg dis">上一页</a></div>
  </div>
  <div class="pRight fr">
    <div class="pbg prLove grayborder"><a href="#" class="pbg">活动介绍</a>
      <ul class="nav nav-list"> 
              <br>
              <li>
              	<!-- 如果有活动图片的话，显示第一张活动图片 -->
				<% if @activity.photos.any? %>
					<% p = @activity.photos[0]%>
	           	 	<ul class="thumbnails">
	                	<div class="thumbnail">
	                  	  <%= image_tag p.image.url %><br>
	                  		<h5> 由<%= link_to @user.name, @user %>上传<br></h5>
	                  		<p><%= p.description %></p>
	                	</div>
	            	</ul>
				<%end%>
				
              </li></br>
              <li><%=@activity.content%></li>
		  		</br>
        
            </ul> 
        </div>
    <div class="pbg prLove prFriend grayborder"><a href="#" class="pbg">共有“<%=@activity.act_followers.count%>”个用户参加</a>
            <ul class="nav nav-list"> 
             </br>
	         <% if @activity.act_followers.any? %>
	           <li><%= render @activity.act_followers%></li>
	         <% end %>   
              
            </ul> 
          </div><!--/.well -->
        </div>
  </div>
</div>
<input id="err" value="" type="hidden">
<input id="suc" value="" type="hidden">

 
      <footer>

       <div class="foot">
          <div class="footBox"><span>MileStone_42 版权所有 ©2011-2012</span><span>email: 42thcoder@gmail.com</span></div>
        </div>
      </footer>
    <script src="js/ga.js" async="" type="text/javascript"></script><script src="home_files/a"></script>
    <script src="js/h.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.omniwindow.js"></script>
    <script type="text/javascript" src="js/calendar.js"></script>
    <script type="text/javascript" src="js/chatwindow.js"></script>
    <script type="text/javascript" src="js/normalhead.js"></script> 
    <script src="js/bootstrap-transition.js"></script> 
    <script src="js/bootstrap-alert.js"></script> 
    <script src="js/bootstrap-modal.js"></script> 
    <script src="js/bootstrap-dropdown.js"></script> 
    <script src="js/bootstrap-scrollspy.js"></script> 
    <script src="js/bootstrap-tab.js"></script> 
    <script src="js/bootstrap-tooltip.js"></script> 
    <script src="js/bootstrap-popover.js"></script> 
    <script src="js/bootstrap-button.js"></script> 
    <script src="js/bootstrap-collapse.js"></script> 
    <script src="js/bootstrap-carousel.js"></script> 
    <script src="js/bootstrap-typeahead.js"></script> 	
</body>
</html>