<li>
	<%= link_to(truncate(activity.title, :length => 100), activities_path+"/#{activity.id}", :title => activity.title) %>
	<br>
  开始时间:
  <span class="content"><%= activity.time_start %></span>
  结束时间:
  <span class="content"><%= activity.time_end %></span>
  活动地点:
  <span class="content"><%= activity.GUID %></span>

  <span class="content"><%= activity.content %></span>
 	<span class="timestamp">
    	Posted <%= time_ago_in_words(activity.created_at) %> ago.
  	</span>
  	<% if current_user?(activity.user) %>
    	<%= link_to "delete", activities_path+"/#{activity.id}", method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: activity.content %>
  	<% end %>
</li>